In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv('V5.csv')

In [3]:
data_df.shape

(10000, 12)

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [6]:
data_df.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property                0
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [7]:
data_df.describe()

,Year,Estimated Value,Sale Price,num_rooms,num_bathrooms,carpet_area,property_tax_rate
count,10000.000000,8.757000e+03,1.000000e+04,10000.000000,10000.000000,8771.000000,10000.000000
mean,2015.904900,4.377749e+05,6.129367e+05,3.335000,2.326400,1115.160871,1.148257
std,4.045725,7.799885e+05,1.102810e+06,0.886258,1.207977,308.026850,0.168458
min,2009.000000,9.800000e+02,2.000000e+03,3.000000,1.000000,900.000000,1.003979
25%,2012.000000,1.280300e+05,1.560000e+05,3.000000,1.000000,960.000000,1.023495
50%,2016.000000,2.300200e+05,3.250000e+05,3.000000,2.000000,1021.000000,1.025899
75%,2019.000000,4.253200e+05,6.150000e+05,3.000000,3.000000,1083.000000,1.348259
max,2022.000000,2.111991e+07,2.575000e+07,8.000000,8.000000,2989.000000,1.422308

In [10]:
data_df.at[692, 'Date']

'2009-11-16'

In [9]:
data_df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [11]:
data_df.iloc[546, 7]

3

In [15]:
data_df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [58]:
data_df['carpet_area'].isnull().sum()

1229

In [55]:
data_df.isnull().sum().sum()

5548

In [46]:
data_df.replace('Nan', pd.NA, inplace=True)

In [66]:
df_dropped = data_df.dropna(thresh=len(data_df.columns) - 2)
len(df_dropped)

9917

In [62]:
df_dropped = data_df.dropna()
len(df_dropped)

5449